<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198353998926-03ml301b1crmk201bd90dqkdol1uk88t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198353998926-03ml301b1crmk201bd90dqkdol1uk88t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>198353998926-7939c9bl3lfk3hnjnbschtencei3222j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDgQ_-JO-N1trTduYoUWFOwM1EGfgKWd9w</string>
	<key>GCM_SENDER_ID</key>
	<string>198353998926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shourya.lala.com.flutterApp</string>
	<key>PROJECT_ID</key>
	<string>kanta-6f9f5</string>
	<key>STORAGE_BUCKET</key>
	<string>kanta-6f9f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198353998926:ios:a8490c77316f9f87</string>
	<key>DATABASE_URL</key>
	<string>https://kanta-6f9f5.firebaseio.com</string>
</dict>
</plist>